a{
  font-size:20px;
  color:blue;
  text-decoration:none;
  padding:5px  5px;
  marging:10px 10px 10px 10px;
  background:#ccc;
  display: inline-block;
  box-shodow:2px 5px 0px black;
}
h1{
  color:white;
}
b{
   color:white;
}

